/**
* 默认主题样式文件
*/

/* 字体文件 */
@font-face {
    font-family: "jzjdxcs";
    src: url("../assets/fonts/jzjdxcs.ttf");
}

@font-face {
    font-family: "Threadz";
    src: url("../assets/fonts/Threadz-Needle-1.ttf");
}

/* 主题色值 */
@colorBk: #ebf0f5;
@colorFont: #737b81;
@colorH1: #4e4e4e;
@btnBk: #ebf0f5;
@btnDown: #c9cdd0;
@btnUp: #fff;
