@font-face {
  font-family: "iconfont"; /* Project id 2341289 */
  src: url('//at.alicdn.com/t/font_2341289_0tpzkz4t9p9k.woff2?t=1629204326060') format('woff2'),
       url('//at.alicdn.com/t/font_2341289_0tpzkz4t9p9k.woff?t=1629204326060') format('woff'),
       url('//at.alicdn.com/t/font_2341289_0tpzkz4t9p9k.ttf?t=1629204326060') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiang:before {
  content: "\e673";
}

.icon-qq:before {
  content: "\e6ab";
}

.icon-weixin:before {
  content: "\e604";
}

.icon-guge:before {
  content: "\e606";
}

.icon-liuyan:before {
  content: "\e63c";
}

.icon-bofang:before {
  content: "\e654";
}

.icon-yuanzi:before {
  content: "\e6e7";
}

.icon-zhankai:before {
  content: "\e605";
}

.icon-jinzhi:before {
  content: "\e65b";
}

.icon-zanting:before {
  content: "\e619";
}

.icon-btn_drawtext:before {
  content: "\e620";
}

.icon-ico_listarrow:before {
  content: "\e626";
}

.icon-danmu:before {
  content: "\e624";
}

.icon-share-fill:before {
  content: "\e637";
}

.icon-shoucang:before {
  content: "\e62a";
}

.icon-btn_search:before {
  content: "\e60f";
}

.icon-approve:before {
  content: "\e60c";
}

.icon-mi:before {
  content: "\e68f";
}

.icon-disapprove-copy:before {
  content: "\e783";
}

.icon-shezhi:before {
  content: "\e628";
}

.icon-play:before {
  content: "\e6a4";
}

.icon-next:before {
  content: "\e6a6";
}

.icon-icon_zuoyoujiantou:before {
  content: "\e60d";
}

.icon-huabanfuben:before {
  content: "\e782";
}

.icon-quanping:before {
  content: "\e6e0";
}

.icon-quanping1:before {
  content: "\e62b";
}

.icon-laba:before {
  content: "\e614";
}
